{% load static %}
<script type="text/javascript" src="{% static 'libs/jquery/jquery-1.11.3-min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/jquery/jquery.rotate.1-1.js' %}"></script>
<script src="{% static 'libs/jquery/jquery.cookie.js' %}"></script>
<script src="{% static 'libs/jquery/jquery.confirm.js' %}"></script>
<script src="{% static 'libs/moment/moment.js' %}"></script>
<script src="{% static 'libs/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'libs/document-viewer/libs/yepnope.1.5.3-min.js' %}"></script>
<script src="{% static 'libs/document-viewer/ttw-document-viewer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/bootstrap/js/bootstrap.js' %}"></script>
