{% load staticfiles %}
<div class="nav-hamburger no-desktop center {{ home_hamburger }}">
    <p id="side-toggle" class="no-underline"><b><span class="icon-timeline" id="hamburger-icon"></span></b></p>
</div>
<div class="navig">
    <div class="no-underline center logo-grid">
        <a href="{% url 'homepage' %}">
            <div class="nav-grid-content vertical-center logo-container">
                <img src="{% static 'img/rapid-logo.png' %}" id="rapid-logo">
            </div>
        </a>
        <div class="nav-fold no-desktop">
            <p id="side-toggle-fold" class="no-underline icon-timeline vertical-center white"></p>
        </div>
    </div>

    <a href="{% url 'timeline' %}" class="no-underline nav-grid center {% if  timeline_active %} active {% endif %}">
        <div class="nav-grid-content vertical-center">
            <div class="nav-icon">
                <h3><span class="icon-timeline"></span></h3>
            </div>
            <p class="uppercase smaller-1 semi-bold">Timeline</p>
        </div>
    </a>

    <a href="{% url 'homepage' %}" class="no-underline nav-grid center {% if  tracker_active %} active {% endif %}">
        <div class="nav-grid-content vertical-center">
            <div class="nav-icon">
                <h3><span class="icon-tracker"></span></h3>
            </div>
            <p class="uppercase smaller-1 semi-bold">My tracker</p>
        </div>
    </a>

    <a href="{% url 'match' %}" class="no-underline nav-grid center {% if  patient_match_active %} active {% endif %}">
        <div class="nav-grid-content vertical-center">
            <div class="nav-icon">
                <h3><span class="icon-match"></span></h3>
            </div>
            <p class="uppercase smaller-1 semi-bold">Patient match</p>
        </div>
    </a>

    <a href="{% url 'homepage' %}" class="no-underline nav-grid center {{ calendar_active }}">
        <div class="nav-grid-content vertical-center">
            <div class="nav-icon">
                <h3><span class="icon-calendar"></span></h3>
            </div>
            <p class="uppercase smaller-1 semi-bold">Calendar</p>
        </div>
    </a>

    <a href="{% url 'homepage' %}" class="no-underline nav-grid center {% if  contacts_active %} active {% endif %}">
        <div class="nav-grid-content vertical-center">
            <div class="nav-icon">
                <h3><span class="icon-contacts"></span></h3>
            </div>
            <p class="uppercase smaller-1 semi-bold">Contacts</p>
        </div>
    </a>

    <a href="{% url 'homepage' %}" class="no-underline nav-grid center {% if  my_records_active %} active {% endif %}">
        <div class="nav-grid-content vertical-center">
            <div class="nav-icon">
                <h3><span class="icon-records"></span></h3>
            </div>
            <p class="uppercase smaller-1 semi-bold">My records</p>
        </div>
    </a>

    <a href="{% url 'homepage' %}" class="no-underline nav-grid center {% if  resources_active %} active {% endif %}">
        <div class="nav-grid-content vertical-center">
            <div class="nav-icon">
                <h3><span class="icon-resources"></span></h3>
            </div>
            <p class="uppercase smaller-1 semi-bold">Resources</p>
        </div>
    </a>

    <a href="{% url 'homepage' %}" class="no-underline nav-grid center {% if  my_account_active %} active {% endif %}">
        <div class="nav-grid-content vertical-center">
            <div class="nav-icon">
                <h3><span class="icon-account"></span></h3>
            </div>
            <p class="uppercase smaller-1 semi-bold">My account</p>
        </div>
    </a>

    <a href="{% url 'homepage' %}" class="no-underline nav-grid logout-grid center">
        <div class="nav-grid-content vertical-center">
            <div class="nav-icon">
                <h3><span class="icon-logout"></span></h3>
            </div>
            <p class="uppercase smaller-1 semi-bold">Log out</p>
        </div>
    </a>

</div>
