//main: ../styles.scss
.hero {
    height: 300px;
    background-color: $green;
    background-image: url("../img/profile_bkg.png");
    background-size: cover;
    background-position: bottom;

    @media (max-width: $screen-sm) {
		height: 450px;
        text-align: center;
	}

    #roche-logo {
        max-width: 60px;
        height: auto;
        margin-left: 80px;
        margin-top: 20px;

        @media (max-width: $screen-sm) {
            margin: 25px 0 0 0;
    	}
    }

    .hero-greeting {
        margin-top: -10px;
        width: 30%;
        margin: 0 auto;

        @media (max-width: $screen-sm) {
    		margin-top: 30px;
            width: 100%;
    	}

        #patient-image-hero {
            width: 30%;
            min-width: 100px;
            height: auto;

            @media (max-width: $screen-sm) {
        		width: 40%;
                max-width: 128px;
        	}
        }

        .hero-greeting-title {
            margin-top: 10px;

            @media (max-width: $screen-sm) {
                h5 {
                    font-size: 2em;
                }
            }
        }

        .hero-greeting-quote {
            font-size: 1.05em;
            margin-top: 10px;

            @media (max-width: $screen-sm) {
        		margin: 40px 20px 0 20px;
                font-size: 1.5em;
        	}
        }
    }
}

.notification {
    position: absolute;
    z-index: 200;
    top: 20px;
    right: 80px;

    @media (max-width: $screen-sm) {
		right: 20px;
        top: 10px;
	}

    .notification-alert {
        width: 40px;
        height: 40px;
        @include border-radius(40px);
        border: 3px solid $white;
        background-color: $blue;

        @media (max-width: $screen-sm) {
            width: 42px;
            height: 42px;
    	}

        #alerts-icon {
            font-size: 20px;
            position: relative;
            top: 6px;

            @media (max-width: $screen-sm) {
                font-size: 26px;
        	}
        }
    }
}

.content {
    margin: 30px 4% 0 4%;
    @media (max-width: $screen-sm) {
        margin: 20px 3% 0 3%;
    }

    .appointments {
        background-color: $white;
        border: 1px solid $subtle-grey;
        padding: 0;
        display: block;

        table {
            width: 100%;

            .appointments-title {
                .appointments-title-icon-grid {
                    background-color: $dark-green;
                    height: 60px;
                    width: 26%;
                }
                .appointments-title-text-grid {
                    height: 60px;
                    padding-left: 20px;
                    p {
                        font-size: 1.15em;
                    }
                }
            }

            .appointments-item {
                .appointments-item-time {
                    background-color: $green;
                    width: 26%;
                    padding: 5px 5px 0 5px;
                    p {
                        margin: 0;
                    }
                }
                .appointments-item-date {
                    border-top: 1px solid $dark-green;
                }
                .appointments-item-content {
                    padding: 10px 10px 10px 20px;
                    border-top: 1px solid $subtle-grey;
                    p {
                        margin: 0;
                    }

                    .appointments-item-content-event-name {

                    }
                }
            }

            // Make table responsive!
            @media (max-width: $screen-sm) {
                table, tbody, th, td, tr {
                    display: block;
                }
                td {
                    position: relative;
                    padding-left: 50%;
                }
                .appointments-title {
                    .appointments-title-icon-grid {
                        display: none;
                    }
                    .appointments-title-text-grid {
                        background-color: $dark-green;
                        color: $white;
                        text-align: center;
                        p {
                            font-size: 1.4em;
                            &:before {
                                content: "\e602";
                                font-size: 16px;
                                margin-right: 5px;
                                font-family: 'icomoon';
                            	speak: none;
                            	font-style: normal;
                            	font-weight: normal;
                            	font-variant: normal;
                            	text-transform: none;
                            	line-height: 1;
                                position: relative;
                                top: 2px;
                            }
                        }
                    }
                }
                .appointments-item {
                    &:first-child .appointments-item-date {
                        border-top: none;
                    }
                    .appointments-item-time {
                        text-align: left;
                        // border-top: 1px solid lighten($divider-grey, 5%);
                        background-color: darken($background-grey, 3%);
                        color: $neutral-grey;
                        padding: 5px 10px;
                        width: 100%;
                        p {
                            font-size: 1.5em;
                            margin-left: 30%;
                        }
                    }
                    .appointments-item-date {
                        border-top: none;
                        h4 {
                            float: left;
                            margin: 3px 0 0 7%;
                            font-size: 1.5em;
                            font-weight: 600;
                        }
                    }
                    .appointments-item-content {
                        padding: 10px;
                        .appointments-item-content-event-name:before {
                            content: "Event";
                        }
                        .appointments-item-content-event-address:before {
                            content: "Address";
                        }
                        .appointments-item-content-event-note:before {
                            content: "Note";
                        }
                        p {
                            font-size: 1.3em;
                            margin-left: 30%;
                            &:before {
                                position: absolute;
                        		/* Top/left values mimic padding */
                        		left: 10%;
                                font-weight: 300;
                                text-align: left;
                        		width: 35%;
                        		padding-right: 10px;
                        		white-space: nowrap;
                            }
                        }
                    }
                }

            }


        }
    }

    .quicktrack {
        background-color: $white;
        border: 1px solid $subtle-grey;
        padding: 0;
        display: block;

        .quicktrack-title-head {
            background-color: $dark-blue;
            height: 60px;
            float: left;
            width: 34%;
            p {
              font-size: 1.15em;
            }
        }

        #quicktrack-tabs {
            li {
                a {
                    height: 60px;
                    font-size: 1.15em;
                    background-color: $blue;
                    color: $darker-blue;
                    border: none;
                    border-radius: inherit;
                }
                &.active a {
                    color: white;
                    &:after {
                        content: "";
                        width: 0;
                        height: 0;
                        left: 50%;
                        border-left: 10px solid transparent;
                    	border-right: 10px solid transparent;
                    	border-bottom: 10px solid $white;
                        margin-left: -10px;
                        position: absolute;
                        bottom: 0;
                    }
                }
            }
        }

        .quicktrack-tabs-content {
            .form-legend {
                margin-top: 20px;
            }
            .quicktrack-form-quality-label {
                margin: 20px 0 -10px 0;
            }
            .quicktrack-form-severity, .quicktrack-form-quality {
                margin-top: 20px;
                .radio-button-left-circle {
                    display: none;
                }
                .radio-button-right-circle {
                    display: none;
                }
                label {
                    display: inline-block;
                    cursor: pointer;
                    position: relative;
                    padding: 5px 15px;
                    margin: 0 5px;
                    font-size: 0.85em;
                    font-weight: bold;
                    background-color: lighten($subtle-grey, 3%);
                    @include border-radius(25px);

                    &:before {
                        content: "";
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        margin-right: 5px;
                        background-color: $white;
                        bottom: 16px;
                        border-radius: 5px;
                    }
                }
                label:nth-child(2):hover, input[type=radio]:nth-child(1):checked + label {
                    background-color: $measure-green;
                    color: $white;
                    &:before {
                        background-color: $white;
                    }
                }
                label:nth-child(2):hover {
                    background-color: darken($measure-green, 10%);
                }
                label:nth-child(2):before {
                    background-color: $measure-green;
                }

                label:nth-child(4):hover, input[type=radio]:nth-child(3):checked + label {
                    background-color: $measure-lightgreen;
                    color: $white;
                    &:before {
                        background-color: $white;
                    }
                }
                label:nth-child(4):hover {
                    background-color: darken($measure-lightgreen, 5%);
                }
                label:nth-child(4):before {
                    background-color: $measure-lightgreen;
                }

                label:nth-child(6):hover, input[type=radio]:nth-child(5):checked + label {
                    background-color: $measure-yellow;
                    color: $white;
                    &:before {
                        background-color: $white;
                    }
                }
                label:nth-child(6):hover {
                    background-color: darken($measure-yellow, 10%);
                }
                label:nth-child(6):before {
                    background-color: $measure-yellow;
                }

                label:nth-child(8):hover, input[type=radio]:nth-child(7):checked + label {
                    background-color: $measure-orange;
                    color: $white;
                    &:before {
                        background-color: $white;
                    }
                }
                label:nth-child(8):hover {
                    background-color: darken($measure-orange, 10%);
                }
                label:nth-child(8):before {
                    background-color: $measure-orange;
                }

                label:nth-child(10):hover, input[type=radio]:nth-child(9):checked + label {
                    background-color: $measure-red;
                    color: $white;
                    &:before {
                        background-color: $white;
                    }
                }
                label:nth-child(10):hover {
                    background-color: darken($measure-red, 10%);
                }
                label:nth-child(10):before {
                    background-color: $measure-red;
                }

                label:hover {
                    &:before {
                        background-color: $white;
                    }
                }
                input[type=radio] {
                    display: none;
                }
            }

            .quicktrack-form-duration {
                margin-top: 20px;
                label {
                    font-weight: normal;
                }
                #quicktrack-form-duration-display {
                    display: inline;
                    margin-left: 20px;
                    background-color: $track-color;
                    padding: 5px 10px;
                    color: $neutral-grey;
                }
                .quicktrack-form-duration-content {
                    margin-top: 10px;
                    .quicktrack-form-duration-time-label {
                        position: relative;
                        bottom: 1px;
                    }
                    #quicktrack-form-duration {
                        display: inline-block;
                        width: 60%;
                        margin: 0 5%;
                        bottom: 2px;
                    }

                    input[type=range] {
                      -webkit-appearance: none;

                      &:focus {
                        outline: none;
                      }

                      &::-webkit-slider-runnable-track {
                        @include track();
                        background: $track-color;
                        border-radius: $track-radius;
                        border: $track-border-width solid $track-border-color;
                      }

                      &::-webkit-slider-thumb {
                        @include thumb();
                        -webkit-appearance: none;
                        margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
                      }

                      &:focus::-webkit-slider-runnable-track {
                        background: lighten($track-color, $contrast);
                      }

                      &::-moz-range-track {
                        @include track();
                        background: $track-color;
                        border-radius: $track-radius;
                         border: $track-border-width solid $track-border-color;
                      }
                      &::-moz-range-thumb {
                         @include thumb();
                      }

                      &::-ms-track {
                        @include track();
                        background: transparent;
                        border-color: transparent;
                        border-width: $thumb-width 0;
                        color: transparent;
                      }

                      &::-ms-fill-lower {
                        background: darken($track-color, $contrast);
                        border: $track-border-width solid $track-border-color;
                        border-radius: $track-radius*2;
                      }
                      &::-ms-fill-upper {
                        background: $track-color;
                        border: $track-border-width solid $track-border-color;
                        border-radius: $track-radius*2;
                      }
                      &::-ms-thumb {
                        @include thumb();
                      }
                      &:focus::-ms-fill-lower {
                        background: $track-color;
                      }
                      &:focus::-ms-fill-upper {
                        background: lighten($track-color, $contrast);
                      }
                    }
                }
            }

            .quicktrack-form-note {
                margin-top: 20px;
                label {
                    font-weight: normal;
                }
                #quicktrack-form-note {
                    display: block;
                    width: 60%;
                    margin: 0 auto;
                    border: 1px solid $divider-grey;
                    min-height: 80px;
                }
            }

            .quicktrack-submit {
                padding: 10px 40px;
                background-color: $blue;
                border: none;
                margin: 20px 0 15px 0;
                @include border-radius(5px);
            }

            // Designed questions
            #quicktrack-mood form .form-legend p {
                .quicktrack-general-question {
                    display: none;
                }
                &:before {
                    content: "How are you feeling,";
                    font-style: italic;
                }
            }
        }
    }
}
.tips {
    background-color: $white;
    margin: 20px 4% 0 4%;
    border: 1px solid $subtle-grey;
    padding: 0;
    display: block;
    position: relative;
    @media (max-width: $screen-sm) {
        margin: 20px 3% 0 3%;
    }

    .tips-title {
        .tips-title-icon-grid {
            height: 60px;
            background-color: $grass-green;
            float: left;
            width: 10.8%;
            min-width: 100px;
            @media (max-width: $screen-sm) {
                display: none;
            }
        }
        .tips-title-text-grid {
            height: 60px;
            padding-left: calc(10.8% + 20px);
            p {
                font-size: 1.15em;
                margin: 0;
            }
            @media (max-width: $screen-sm) {
                background-color: $grass-green;
                color: $white;
                padding: 0;
                text-align: center;
                p {
                    font-size: 1.4em;
                    font-weight: bold;
                    &:before {
                        content: "\e610";
                        font-size: 16px;
                        margin-right: 5px;
                        font-family: 'icomoon';
                        position: relative;
                        top: 2px;
                        speak: none;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: normal;
                        line-height: 1;
                    }
                }
            }
        }
    }
    .tips-content {
        margin: 0;
        padding: 20px 15px;
        .tips-content-block {
            padding: 0 15px;

            .tips-content-number {
                float: left;
                background-color: $grass-green;
                width: 30px;
                height: 30px;
                position: relative;
                top: 5px;
                @include border-radius(50%);
                @media (min-width: $screen-lg) {
                    &:before {
                        content: "";
                        height: 60px;
                        border-left: 1px solid lighten($divider-grey, 5%);
                        position: absolute;
                        left: -15px;
                        top: -5px;
                    }
                }

            }
            #tips-content-number-1::before {
                border-left: none;
            }
            .tips-content-content {
                margin-left: 45px;
                @media (max-width: $screen-sm) {
                    font-size: 1.3em;
                }
            }
        }
    }
}
