//main: ../styles.scss

.navig {
    width: $nav-width;
    min-height: 795px;
    position: absolute;
    left: 0;
    background-color: $white;
    box-shadow: 1px 0 1px lighten($neutral-grey, 40%);
    z-index: 100;
    color: $neutral-grey;

    @media (max-width: $screen-sm) {
		width: 0;
        visibility: hidden;
        opacity: 0;

        @include transition(0.3s, ease-in-out);
        &.slide {
            visibility: visible;
            opacity: 1;
            width: 80%;
        }
	}

    .logo-grid {
        height: 70px;
        background-color: $blue;
        display: block;

        @media (min-width: $screen-lg) {
            &:hover {
                color: $green;
                &:before {
                    content: "";
                    width: 5px;
                    height: 70px;
                    background-color: $dark-blue;
                    position: absolute;
                    left: 0;
                }
            }
        }

        @media (max-width: $screen-sm) {
            height: 60px;
            a {
                height: 60px;
                width: 80%;
                float: left;
            }
        }

        a {
            height: 70px;
            display: block;
        }

        .logo-container {

            #rapid-logo {
                width: 60%;
                @media (max-width: $screen-sm) {
            		width: 40%;
            	}
            }
        }

        .nav-fold {
            height: 70px;
            width: 20%;
            background-color: $dark-blue;

            @media (max-width: $screen-sm) {
                height: 60px;
            }

            #side-toggle-fold {
                font-size: $h2;
            }
        }
    }

    .nav-grid {
        height: $nav-height;
        display: block;
        position: relative;

        @media (min-width: $screen-lg) {
            &:hover {
                color: lighten($blue, 15%);
                &:before {
                    content: "";
                    width: 5px;
                    height: $nav-height;
                    background-color: lighten($blue, 15%);
                    position: absolute;
                    left: 0;
                }
            }
            &.active {
                color: $blue;
                &:before {
                    content: "";
                    width: 5px;
                    height: $nav-height;
                    background-color: $blue;
                    position: absolute;
                    left: 0;
                }
            }
        }

        @media (max-width: $screen-sm) {
            height: $nav-height-mobile;
            &.active {
                color: $blue;
            }

            .nav-icon {
                float: left;
                width: 25%;
                position: relative;
                text-align: right;
                margin-top: 15px;

                h3 {
                    font-size: $h3;
                }
            }

            p {
                text-align: left;
                width: 65%;
                margin-left: 10%;
                font-size: $h5;
                display: inline-block;
                margin-top: 15px;
            }
        }
    }

    .logout-grid {
        background-color: $subtle-grey;
    }
}

.nav-hamburger {
    position: absolute;
    z-index: 200;
    left: 20px;
    top: 7px;
    width: 36px;
    height: 36px;
    @include border-radius(40px);
    background-color: $white;
    color: $blue;

    &:active {
        background-color: $green;
    }

    &.home-hamburger {
        border: 3px solid $white;
        background-color: $blue;
        color: $white;
        width: 42px;
        height: 42px;
        top: 10px;
        #side-toggle {
            font-size: 28px;
            top: 0;
        }
    }

    #side-toggle {
        font-size: 24px;
        position: relative;
        top: 4px;
    }

}
