//main: ../styles.scss
html, body {
	font-size: $base-font-size;
	font-family: $main-font;
	background-color: $white;
	overflow-x: hidden;
}

.container {
    @include calc(width, "100% - #{$nav-width}");
    position: absolute;
    left: $nav-width;
    background-color: $background-grey;
    min-height: 795px;
    padding: 0;

    @media (max-width: $screen-sm) {
		width: 100%;
        left: 0;
	}
}

a {
	color: inherit;
}

h1, .h1 {
	font-size: $h1;
	font-weight: 700;
	margin: 0;
}

h2, .h2 {
	font-size: $h2;
	font-weight: 700;
	margin: 0;
}

h3, .h3 {
	font-size: $h3;
	margin: 0;
}

h4, .h4 {
	font-size: $h4;
	margin: 0;
}

h5, .h5 {
	font-size: $h5;
	margin: 0;
}

@media (max-width: $screen-sm) {
    html, body {
        font-size: $base-font-size * 0.8;
    }

    h1, .h1 {
	font-size: $h1 * 0.6;
	}

	h2, .h2 {
		font-size: $h2 * 0.6;
	}

	h3, .h3 {
		font-size: $h3 * 0.6;
	}

	h4, .h4 {
		font-size: $h4 * 0.6;
	}

	h5, .h5 {
		font-size: $h5 * 0.6;
	}
}

.title, .subtitle {
	text-align: center;
}

.white {
	color: $white;
}

.blue {
	color: $blue;
}

.dark-blue {
	color: $dark-blue;
}

.darker-blue {
	color: $darker-blue;
}

.green {
	color: $green;
}

.dark-green {
	color: $dark-green;
}

.grass-green {
	color: $grass-green;
}

.neutral-grey {
	color: $neutral-grey;
}

.subtle-grey {
	color: $subtle-grey;
}

.divider-grey {
	color: $divider-grey;
}

.text-grey {
	color: $text-grey;
}

.text-dark-grey {
	color: $text-dark-grey;
}

.text-mild-grey {
	color: $text-mild-grey;
}

.black {
	color: black;
}

.orange {
	color: $orange;
}

.measure-green {
	color: $measure-green;
}

.measure-lightgreen {
	color: $measure-lightgreen;
}

.measure-yellow {
	color: $measure-yellow;
}

.measure-orange {
	color: $measure-orange;
}

.measure-red {
	color: $measure-red;
}
